<h1>Books List</h1> <br>
<div class="row">
    <% @books.each do |b| %>
      <div class="col-md-3">
          <a href="books/<%= b.id %>">
            <%= image_tag b.book_img.url(:book_index), class: "book" %>
          </a>
      </div>
    <% end %>
</div>
