<h2>Log in</h2>

<form novalidate="novalidate" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <label class="control-label email optional" for="user_email">Email</label>
    <input class="form-control string email optional" autofocus="autofocus" value="" name="user[email]" id="user_email" type="email">
    <label class="control-label password optional active" for="user_password">Password</label>
    <input class="form-control password optional" name="user[password]" id="user_password" type="password">
    <input  name="user[remember_me]" id="user_remember_me" type="checkbox">
    <label for="user_remember_me">Remember me!</label>
  <div class="form-actions">
    <input name="commit" value="Log in" class="btn btn-default" data-disable-with="Log in" type="submit">
  </div>

</form>
<%= render "devise/shared/links" %>
