.login-background{
  width: 100%;

  background-image: url('/assets/login_background_1.jpg');
}
.login-box{
  position: absolute;
  background-color: transparent;

}
.login_box_container{
  width:600px;height: 330px; position: absolute; background: whitesmoke; border-top-left-radius: 10%; border-bottom-right-radius: 10%; top: 200px; right: 100px;
}
@media screen and (max-width: 700px) {
  .login_box_container{
    width: 80%; height: 330px; position: absolute; background: whitesmoke; border-top-left-radius: 10%; border-bottom-right-radius: 10%; top: 200px; left: 10%; right: 10%;
  }
}